/*grid работает с контейнером и div'ами внутри него*/

*{
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #f2f3f4;
    font-size: 1.2em;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: 75vw;
    margin: 0 auto 0 auto;
}

.chat{
    margin-top: 3%;
}

.chat__speaker1, .chat__speaker2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 10px;
}

.chat__speak1, .chat__speak2{
    border:none;
    border-radius: 15px 15px 15px 0;
    padding: 2% 0 2% 2%;
    width:40vw;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
  
}

.chat__avatar{
    display: flex;
    align-items: center;
}

.chat__speak1{
    background-color: #fadbd8;
}
.chat__speak2{
    background-color: #d0ece7;
}

.chat__h1{
    font-weight: 600;
}

 
 


 
 




 
 
 





